html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.block {
    color: white;
    background-color: #000000;
    padding: 5%;
}

.block-1 {
    background-color:#324376;
}

.full-page {
    height:100vh;
}

.carousel-placeholder {
    width: 100%;
    height: 100%;
    background-color:#000;
    background-size: cover;
    color: #fff;
}

.carousel-placeholder-1{
    background-color: #f76c5e;
}

.carousel-placeholder-2{
    background-color: #120;
}
.carousel-placeholder-3{
    background-color: #c225c7;
}

.carousel-item{
    height:100vh;
}

#featured-products-carousel {
        width:100%;
        margin: 0 auto;
}