html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.block {
    color: white;
    background-color: #000000;
    padding: 5%;
}

.block-1 {
    background-color:#324376;
}

.block-2 {
    background-color: #323232;
}

.block-3 {
    background-color: #df0f0f;
}

.full-page {
    height:100vh;
}

.carousel-placeholder {
    width: 100%;
    height: 100%;
    background-color:#000;
    background-size: cover;
    color: #fff;
}

.carousel-placeholder-1{
    background-color: #f76c5e;
}

.carousel-placeholder-2{
    background-color: #120;
}
.carousel-placeholder-3{
    background-color: #c225c7;
}

.carousel-item{
    height:100vh;
}

.icons {
    font-size: 10rem;
    display: block;
text-align: center;
}

#featured-products-carousel {
        width:100%;
        margin: 0 auto;
}

@media only screen and (max-width: 767px) {

    .first-order-responsive {
        order:1;
    }

    .second-order-responsive {
        order:2;
    }


}

